.container {
  .dropdown {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    background-color: #e1f5ff;
    color: #30366c;

    border: 1px solid #4a74ba;
    border-radius: 16px;
    width: 200px;
    padding: 10px 16px;
    margin-right: 24px;

    cursor: pointer;

    .arrow {
      height: 11px;

      &.arrowTop {
        transform: rotate(180deg);
      }

      img {
        height: 11px;
      }
    }
  }
  .items {
    position: absolute;
    z-index: 999;

    background-color: #e1f5ff;
    color: #30366c;

    border: 1px solid #4a74ba;
    border-radius: 16px;
    padding: 10px 16px;
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    .item {
      cursor: pointer;
      margin: 3px 0;

      &:hover {
        color: rgba(74, 116, 186, 1);
      }
    }
  }
}
