.container {
  margin-right: 24px;
  .dropdown {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    background-color: #ebf8ff;
    color: #30366c;

    border-radius: 16px;
    padding: 10px 16px;

    cursor: pointer;

    .arrow {
      height: 11px;

      &.arrowTop {
        transform: rotate(180deg);
      }

      img {
        height: 11px;
      }
    }
  }
  .items {
    position: absolute;
    z-index: 999;

    background-color: #ebf8ff;
    color: #30366c;

    border-radius: 16px;
    padding: 10px 16px;
    margin-top: 16px;
    box-shadow: 0px 0px 12px blue;

    display: flex;
    flex-direction: column;
    .item {
      cursor: pointer;
      margin: 3px 0;

      &:hover,
      &.active {
        color: rgba(74, 116, 186, 1);
      }
    }

    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .container {
    .dropdown {
      p {
        font-size: 15px;
      }

      .arrow {
        height: 11px;

        img {
          height: 11px;
        }
      }
    }
    .items {
      font-size: 15px;
    }
  }
}

@media (max-width: 799px) {
  .container {
    margin-right: 14px;
    .dropdown {
      padding: 8px 13px;
      p {
        font-size: 14px;
      }

      .arrow {
        height: 9px;

        img {
          height: 9px;
        }
      }
    }
    .items {
      font-size: 14px;
    }
  }
}
