@import "styles/variables.scss";

.container {
  padding: $padding-beetwen-blocks 0;
  width: 100% !important;
  .section {
    background-image: url("/assets/images/background-what.png");
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-size: 100% 900px;
    -moz-background-size: 100% 900px;
    -o-background-size: 100% 900px;
    background-size: 100% 900px;
    width: 100%;
    padding: 103px 0;
    .content {
      display: flex;
      justify-content: center;
      .what {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 32px 0;
      }
      .center {
        width: 561px;
        height: 561px;
        background-color: #ffa857;
        opacity: 0.9;
        border-radius: 50%;
        margin: 0 54px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1400px) {
  .container {
    min-width: $width-1160;
    .section {
      -webkit-background-size: 100% 656px;
      -moz-background-size: 100% 656px;
      -o-background-size: 100% 656px;
      background-size: 100% 656px;
      .content {
        .center {
          width: 350px;
          height: 350px;
          img {
            width: 250px;
            height: 235px;
          }
        }
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .container {
    padding: $padding-beetwen-blocks-800 0;
    min-width: $width-760;
    max-width: $width-760;
    .section {
      -webkit-background-size: 100% 800px;
      -moz-background-size: 100% 800px;
      -o-background-size: 100% 800px;
      background-size: 100% 800px;
      .content {
        flex-direction: column;
        align-items: center;
        .what {
          flex-direction: row;
          justify-content: space-around;
          width: 90%;
        }
        .center {
          align-self: center;
        }
      }
    }
  }
}

@media (max-width: 799px) {
  .container {
    padding: $padding-beetwen-blocks-428 0;
    min-width: $width-360;
    max-width: $width-360;
    .section {
      -webkit-background-size: 100% 384px;
      -moz-background-size: 100% 384px;
      -o-background-size: 100% 384px;
      background-size: 100% 384px;
      .content {
        height: 125px;
        .center {
          width: 100px;
          height: 100px;
          min-width: 100px;
          height: 100px;
          margin: 0;
          align-self: center;
          img {
            width: 65px;
            height: 65px;
          }
        }
        .what {
          margin: 0;
        }
      }
    }
  }
}
