.container {
  background-image: url("/assets/images/background-what.png");
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: cover 1020px;
  -moz-background-size: cover 1020px;
  -o-background-size: cover 1020px;
  background-size: cover 1020px;
  margin-top: 286px;
  padding: 103px 0 209px;
  .content {
    display: flex;
    justify-content: center;
    .what {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 32px 0;
    }
    .center {
      width: 561px;
      height: 561px;
      background-color: #ffa857;
      opacity: 0.9;
      border-radius: 50%;
      margin: 0 54px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
