@import "styles/variables.scss";

.container {
  width: $max-width-content;
  margin: 0 auto;
  padding: $padding-beetwen-blocks 0;

  .tariffs {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1400px) {
  .container {
    width: $width-1160;
    .tariffs {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .container {
    width: $width-760;
    padding: $padding-beetwen-blocks-800 0;
  }
}
