@import "styles/variables.scss";

.container {
  width: $max-width-content;
  margin: 0 auto;
  padding: $padding-beetwen-blocks 0;

  .tariffs {
    display: flex;
    justify-content: space-between;
  }
}
