.container {
  width: 330px;
  .blockPicture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    background: linear-gradient(
      360deg,
      #bce6ff 0%,
      rgba(62, 183, 255, 0.35) 100%
    );
    border-radius: 30px;
  }
  p {
    font-weight: 500;
    font-size: 22px;
    color: #0a0808;
    margin-top: 30px;
    text-align: start;
  }
}

@media (max-width: 1400px) {
}

@media (min-width: 800px) and (max-width: 1199px) {
  .container {
    width: 230px;
    .blockPicture {
      height: 205px;
      img {
        height: 144px;
        width: 190px;
      }
    }
    p {
      margin-top: 24px;
    }
  }
}

@media (max-width: 799px) {
  .container {
    p {
      margin-top: 10px;
    }
  }
}
