@import "styles/variables.scss";

.subheader {
  width: $max-width-content;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  align-items: center;
  .leftSide {
    width: 50%;
    color: #30366c;
    h1 {
      font-weight: 600;
      font-size: 62px;
      margin-bottom: 30px;
    }
    p {
      font-weight: 600;
      font-size: 26px;
      margin-bottom: 50px;
    }
  }
  .rightSide {
    width: 50%;
  }
}
