@import "styles/variables.scss";

.container {
  display: flex;
  justify-content: center;
  padding: $padding-beetwen-blocks 0;
  .content {
    .dropdowns {
      display: flex;
      margin-bottom: 32px;
    }
    .infoAddition {
      background-color: white;
      box-shadow: 0px 8px 20px 4px #e3ebf9;
      border-radius: 16px;
      padding: 60px;

      .info {
        position: relative;
        z-index: 501;
        display: flex;

        width: 988px;

        .infoLeft,
        .infoRight {
          width: 50%;
          padding-bottom: 48px;
        }

        .dash {
          width: 1px;
          background-color: #4a74ba;
          min-height: 100px;
        }

        .infoLeft {
          .fake {
            height: 50px;
          }
        }

        .infoRight {
          padding-left: 32px;

          .fake {
            height: 50px;
          }
        }

        .homeEducation {
          position: absolute;
          bottom: -45px;
          right: -40px;
          z-index: -1;
        }
      }

      .addition {
        border-top: 1px solid #4a74ba;
        padding-top: 48px;
        h5 {
          font-weight: 600;
          font-size: 28px;
          color: #4a74ba;
          padding-bottom: 40px;
          text-align: center;
          text-transform: uppercase;
        }

        ul {
          li {
            font-weight: 600;
            font-size: 28px;
            color: #0a0808;
            padding-bottom: 24px;

            display: flex;
            align-items: center;

            &:before {
              content: "";
              display: block;
              width: 24px;
              height: 24px;
              margin-right: 18px;

              background-color: rgba(255, 168, 87, 0.9);
              border-radius: 50%;
            }
          }

          li:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .container {
    width: $width-1160;
    margin: 0 auto;
    .content {
      .dropdowns {
        justify-content: center;
      }
      .infoAddition {
        width: 900px;
        .info {
          .infoLeft,
          .infoRight {
            width: 40%;
          }

          .homeEducation {
            right: 140px;
            img {
              width: 392px;
              height: 330px;
            }
          }
        }

        .addition {
          h5 {
            font-weight: 600;
            font-size: 26px;
            color: #4a74ba;
            padding-bottom: 40px;
            text-align: center;
            text-transform: uppercase;
          }

          ul {
            li {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}
