.container {
  h3 {
    font-weight: 600;
    font-size: 28px;
    color: #4a74ba;

    margin-bottom: 34px;
  }
  ul {
    li {
      font-weight: 500;
      font-size: 24px;
      color: #0a0808;
      padding-bottom: 24px;

      display: flex;
      align-items: center;

      &:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 18px;

        background-color: rgba(255, 168, 87, 0.9);
        border-radius: 50%;
      }
    }

    li.done {
      &:before {
        background-color: transparent;
        background-image: url("/assets/images/done.svg");
        background-size: cover;
      }
    }

    li:last-child {
      padding-bottom: 0;
    }
  }
}
