$header-height: 64px;
$max-width-content: 1250px;
$width-1160: 1160px;
$width-760: 760px;
$width-388: 388px;
$padding-beetwen-blocks: 100px;
$padding-beetwen-blocks-800: 50px;
$padding-beetwen-blocks-428: 30px;
