.wrapper {
  position: relative;
  .elipseLeft {
    position: absolute;
    width: 824px;
    height: 600px;
    left: -236px;
    top: 90px;
    background: linear-gradient(
      180deg,
      rgba(252, 94, 255, 0.348) -10.09%,
      rgba(196, 226, 240, 0) 89.91%
    );
    filter: blur(200px);
  }
  .elipseRightTop {
    position: absolute;
    width: 546px;
    height: 445px;
    top: 150px;
    right: -143px;
    background: linear-gradient(
      180deg,
      rgba(94, 205, 255, 0.4) -10.09%,
      rgba(94, 205, 255, 0) 89.91%
    );
    filter: blur(200px);
    /* blue circle */
  }
  .elipseTigthBottom {
    position: absolute;
    width: 554px;
    height: 516px;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(212, 197, 255, 0.6) -10.09%,
      rgba(210, 196, 240, 0) 89.91%
    );
    filter: blur(200px);
  }
  padding-top: 210px;
  padding-bottom: 140px;
  .container {
    display: flex;
    align-items: flex-end;
    .leftSide {
      width: 60%;
      h1 {
        font-size: 64px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 60px;
      }
      .buttons {
        .buttonsItem:not(:last-child) {
          margin-bottom: 60px;
        }
      }
    }
    .rightSide {
      width: 40%;
    }
  }
}
