@import "styles/variables.scss";

.container {
  text-align: center;
  width: $max-width-content;
  margin: 0 auto;
  padding: 200px 0 $padding-beetwen-blocks;
  .reasons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
  }
}

@media (max-width: 1400px) {
  .container {
    width: $width-1160;
    .reasons {
      margin-bottom: 73px;
    }
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .container {
    width: $width-760;
    .reasons {
      margin-bottom: 53px;
    }
  }
}
