@import "styles/variables.scss";

.container {
  text-align: center;
  min-width: $max-width-content;
  max-width: $max-width-content;
  margin: 0 auto;
  padding: 250px 0 $padding-beetwen-blocks;
  .reasons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
  }
}

@media (max-width: 1400px) {
  .container {
    min-width: $width-1160;
    max-width: $width-1160;
    .reasons {
      margin-bottom: 73px;
    }
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .container {
    min-width: $width-760;
    max-width: $width-760;
    padding: 150px 0 $padding-beetwen-blocks-800;
    .reasons {
      margin-bottom: 53px;
    }
  }
}

@media (max-width: 799px) {
  .container {
    min-width: $width-360;
    max-width: $width-360;
    padding: 250px 0 $padding-beetwen-blocks-428;
    .reasons {
      height: 370px;
      width: 85%;
      margin-bottom: 35px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      > div {
        position: absolute;
        &:first-child {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          right: 20px;
          div {
            width: 94px;
            height: 94px;
            border-radius: 15px;
            img {
              width: 76px;
              height: 70px;
            }
          }
          p {
            width: 94px;
            padding-left: 8px;
            font-size: 8px;
            font-weight: 600;
          }
        }
        &:last-child {
          top: 62px;
          div {
            width: 130px;
            height: 130px;
            img {
              width: 100px;
              height: 80px;
            }
          }
          p {
            width: 140px;
            font-size: 12px;
            padding-left: 8px;
            font-weight: 600;
          }
        }
        &:nth-child(2) {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          right: 0;
          top: 152px;
          div {
            height: 155px;
            width: 155px;
            img {
              height: 110px;
              width: 125px;
            }
          }
          p {
            width: 155px;
            font-size: 13px;
            padding-left: 8px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
