.heading {
  font-weight: 600;
  font-size: 38px;
  color: #30366c;
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 1400px) {
  .heading {
    font-size: 32px;
    margin-bottom: 60px;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .heading {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

@media (max-width: 799px) {
  .heading {
    font-size: 16px;
    margin-bottom: 35px;
  }
}
