.wrapper {
  background-image: url("/assets/images/background-header.png");
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: 100% 900px;
  -moz-background-size: 100% 900px;
  -o-background-size: 100% 900px;
  background-size: 100% 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 100%;

    .backgroundTarrifs {
      background-image: url("/assets/images/background-what.png");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 100px 0;
    }
  }
}
