@import "styles/variables.scss";

.header.backgroundWhite {
  background-color: white;
  box-shadow: 0px 1px 20px blue;
}

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 1000;
  transition: all 0.5s ease-in-out;

  width: 100% !important;
  padding: 24px 0;
  .container {
    min-width: $max-width-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftSide {
      display: flex;
      align-items: center;
      .logo {
        margin-right: 118px;
        a {
          font-weight: 600;
          font-size: 40px;
          color: #30366c;
        }
      }
      .nav {
        ul {
          display: flex;
          align-items: center;
          li {
            margin-right: 42px;
            display: flex;
            align-items: center;
            .name {
              cursor: pointer;
              font-weight: 500;
              font-size: 22px;
              color: #30366c;
            }
            .dash {
              display: inline-block;
              height: 34px;
              width: 1px;
              margin-left: 42px;
              background-color: #4a74ba;
            }
          }
        }
      }
    }
    .rightSide {
      display: flex;
      align-items: center;
      .languages {
        font-weight: 600;
        font-size: 22px;
        color: #30366c;
        button {
          font-weight: 600;
          font-size: 22px;
          opacity: 0.25;
          color: black;
        }
        button.active {
          opacity: 1;
          color: #30366c;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .header {
    width: $width-1160;
    margin: 0 auto;
    .container {
      min-width: $width-1160;
      .leftSide {
        .logo {
          a {
            font-size: 32px;
          }
        }
        .nav {
          ul {
            li {
              margin-right: 32px;
              .name {
                font-size: 16px;
              }
              .dash {
                height: 24px;
                margin-left: 32px;
              }
            }
          }
        }
      }
      .rightSide {
        .languages {
          button {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .header {
    width: $width-760;
    .container {
      min-width: $width-760;
      .leftSide {
        .logo {
          margin-right: 68px;
          a {
            font-size: 24px;
          }
        }
        .nav {
          ul {
            li {
              margin-right: 32px;
              .name {
                font-size: 16px;
              }
              .dash {
                height: 24px;
                margin-left: 32px;
              }
            }
          }
        }
      }
      .rightSide {
        .languages {
          button {
            font-size: 16px;
          }
        }
      }
      .buttonMenu {
        display: none;
      }
    }
  }
}

@media (min-width: 428px) and (max-width: 799px) {
  .header {
    min-width: $width-388;
    .container {
      min-width: $width-388;
      .leftSide {
        .logo {
          margin-right: 0;
          a {
            font-size: 20px;
          }
        }
        .nav {
          display: none;
        }
      }
      .rightSide {
        display: none;
      }
      .buttonMenu {
        display: block;
        width: 18px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .dash {
          width: 18px;
          height: 2px;
          background-color: #30366c;
        }
      }
    }
  }
}

@media (min-width: 428px) and (max-width: 799px) {
}

@media (min-width: 320px) and (max-width: 427px) {
}
