@import "styles/variables.scss";

.container {
  background-color: #e1f5ff;
  display: flex;
  margin: $padding-beetwen-blocks auto 0;
  width: 100%;
  .footer {
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top {
      display: flex;
      flex-direction: column;
      .first {
        .logo {
          color: #0a0808;
          a {
            font-weight: 600;
            font-size: 40px;
            color: #0a0808;
          }
        }
      }
      .second {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        width: 100%;
        .email {
          display: flex;
          align-items: center;
          p {
            font-weight: 600;
            font-size: 28px;
            color: #0a0808;
            padding-left: 14px;
          }
        }
        ul {
          font-weight: 600;
          font-size: 28px;
          color: #0a0808;
          margin-left: 200px;

          display: flex;
          li {
            padding-left: 16px;
            a {
              color: #0a0808;
            }
          }
        }
      }
      .third {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .namesCards {
          display: flex;
          align-items: center;

          img {
            padding-right: 20px;
          }
        }
        .contractsLinks {
          display: flex;
          align-items: center;

          a {
            vertical-align: middle;
            font-weight: 600;
            font-size: 14px;
            color: #878383;
            &:hover {
              color: blue;
            }
            &.active {
              color: blue;
            }
          }

          .dash {
            display: inline-block;
            height: 20px;
            width: 1px;
            margin: 0 12px;
            background-color: #878383;
          }
        }
      }
    }

    .dash {
      width: 100%;
      height: 1px;
      background-color: #4a74ba;
    }

    .bottom {
      p {
        font-weight: 500;
        font-size: 20px;
        color: #0a0808;
        margin-top: 30px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 1400px) {
  .container {
    min-width: $width-1160;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .container {
    min-width: $width-760;
    margin: $padding-beetwen-blocks-800 auto 0;
    .footer {
      .top {
        .first {
          .logo {
            a {
              font-size: 30px;
            }
          }
        }
        .second {
          .email {
            p {
              font-size: 20px;
            }
          }
          ul {
            font-size: 20px;
            margin-left: 160px;
          }
        }
        .third {
          .contractsLinks {
            a {
              font-size: 12px;
            }
            .dash {
              height: 16px;
            }
          }
        }
      }

      .bottom {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 799px) {
  .container {
    min-width: $width-360;
    margin: $padding-beetwen-blocks-428 auto 0;
    .footer {
      padding: 15px 0;
      .top {
        .first {
          .logo {
            a {
              font-size: 20px;
            }
          }
        }
        .second {
          margin: 10px 0;
          .email {
            p {
              font-size: 10px;
            }
          }
          ul {
            font-size: 10px;
            margin-left: 0;
          }
        }
        .third {
          margin-bottom: 15px;
          flex-direction: column;
          .contractsLinks {
            margin-top: 10px;
            a {
              font-size: 8px;
            }
            .dash {
              height: 10px;
            }
          }
        }
      }

      .bottom {
        p {
          font-size: 8px;
          margin-top: 15px;
        }
      }
    }
  }
}
